/*Importation des polices de caractères*/

@font-face{
    font-family : "rajdhani";
    src:url("fonts/rajdhani/Rajdhani-Medium.ttf");
}

@font-face{
    font-family : "space_grotesk";
    src:url("fonts/Space_Grotesk/SpaceGrotesk-Regular.ttf");
}
/************ Défintiion des variables couleurs ***********/
:root{
    --yellow : #FFFF00;
    --yellow2 : #f8f184;
    --blue : #19587D;
    --red : #B11313;
    --black1 : #0D0E09;
    --black2 : #000000;
    --white : #FFFFFF;
    --grey : #C4C4C4;
    --blue2 : #EDDEBF;
    --gradient-white : #eddebf;
    --gradient-red : #890008;
}
/* Animation des éléments  l'entrée */
@keyframes entree{
    from{
        transform : translate(-1200px);
    }
    to{
        transform : translate(0px);
    }
}
.titre, #boutons, .scroll, p, .batman-item, #header{
    animation : entree 3s;
}

/****************Règles générales appliquées sur toute la page**************/

*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

#body .container{
    width : 80%;
    margin : 0 auto;
    position : relative;
}
body#body{
    background-color : black;
    color : white;
    font-family : 'space_grotesk';
    font-weight : 300;
}
main{
    width : 100%;
    position : relative;
}

a{
    color : var(--white);
    font-size : 20px;
    font-weight : 500;
    text-decoration : none;
}
h2.titre{
    margin : 20px 0;
    text-transform : uppercase;
    font-weight : bold;
    margin-left : 7%;
}
h3{
    margin : 10px;
}
.cadre1{
    border: #BCBBBD 2px solid;
    border-top : none;
    height : 150vh;
    position : fixed;
    top : -132px;
    left : 102px;
    right : 102px;
    opacity : 0.3;
}
.cadre2{
    border: #BCBBBD 2px solid;
    border-top : none;
    border-left : none;
    border-right : none;
    height : 132px;
    position : absolute;
    left : 102px;
    right : 102px;
    opacity : 0.3;
}

.scroll{
    display: flex;
    flex-direction : column;
    align-items : center;
    position : fixed;
    right : 80px;
    top : 200px;
    z-index : 99;
}
.scroll .social{
    margin : 15px;
}
/****Le header - La barre de navigation***/
header ul a{
    color : white;
    text-decoration : none;
    text-transform : uppercase;
}
header ul a:hover{
    font-weight : bold;
    text-decoration : underline;
    color : var(--yellow);
}
nav{
    display : flex;
    align-items : center;
    justify-content : space-between;
    padding-top : 20px;
}
ul{
    list-style : none;
}
a, ul{
    z-index : 999;
}


/***********La section #hero **********/
#hero{
    background-image : url('../img/Illustrations/Bathome1.png');
    height: 850px;
    width : 100%;
    background-position : top center;
    background-repeat : no-repeat;
    background-color : #19587d;
    background-size : cover;
}

.content{
    display : flex;
    flex-direction : column;
    justify-content : center;
    text-align : center;
    width : 60%;
    margin : 0 auto;
    padding-top : 150px;
}
#boutons{
    margin : 40px 0;
}
header a img:hover, .scroll img:hover, .social-footer img:hover{
    filter : opacity(0.50) drop-shadow(0 0 0 var(--yellow));
}
#boutons .btn{
    text-decoration : none;
    font-size : 22px;
    color : white;
    padding : 10px 40px;
    
    background : linear-gradient(90deg, var(--gradient-white),var(--gradient-red));
    box-shadow : var(--black1) 5px 5px 60px;
    margin : 15px;
    cursor : pointer !important;
    opacity : 0.4;
    
}
#boutons .btn:hover{
    opacity : 1;
}
#hero .texte{
    max-width : 400px;
    margin : 0 auto 40px auto;
    font-size : 18px;
}

#hero .fleche{
    display : block;
    position : relative;
    margin : 0 auto;
    margin-top: 500px;
    z-index : 999;
}

/************Section #batman-cinema, #nemesis, #allies, #justice-league******/
#batman-cinema, #nemesis, #allies, #justice-league{
    padding-top : 150px;
}

.description{
    max-width : 800px;
    text-align : justify;
    font-size : 21px;
    margin-bottom : 40px;
    margin-left : 7%;
}
#chauve-souris{
    width : 150px;
    height : 130px;
    position : absolute;
    top : -80px;
    left : calc(7% + 60px);
}
/*Les cards*/
.batman-personnage{
    display : flex;
    justify-content : space-between;
    width : 85%;
    margin : 0 auto !important;
}
.batman-item{
    width : 304px !important;
}
.batman-item img{
    max-width : 100%;
}
.batman-item:hover{
    width : 334px !important;
}
.personnage-info{
    text-align : center;
}

#justice-league img{
    width : 100%;
    position : relative;
    border-top: rgba(144,144,144,0.3) 2px solid;
}
.container .batman-fight{
    width : 350px;
    height : 250px;
    position : absolute;
    top : -200px;
    right : -5%;
}

/*****Multimedia****/

#multimedia .slider-multimedia{
    display : flex;
    width : 60%;
    margin : 40px auto;
}
#multimedia .slider-image{
    width : 100%;
}
#multimedia .slider-content{
    padding : 15px;
    background-color :#727272;
    border-radius : 0 20px 20px 0;
}
#multimedia button{
    position : relative;
    top : 155px;
    background : none;
    border : none;
}
#multimedia button.right{
    right : -85%;
}
#multimedia .yellow{
    color : var(--yellow);
}
#bande-annonce{
    width : 70vw;
    height: 40vw;
    max-width : 100%;
    margin : 80px auto;
    display : block;
}


/********************Contact ********************/

#contact{
    background-color : darkslategrey;
    padding-bottom : 20px;
    position : relative;
    line-height : 1.5;
}
#contact .form{
    width : 50%;
    margin : 0 auto;
}
#contact h2{
    text-align : center;
    font-size : 26px;
    margin-bottom : 32px;
    text-transform : uppercase;
}
#contact .titre{
    display : block;
    margin : 20px 0;
    text-transform : uppercase;
}
p.newstext{
    max-width : 450px;
}

#contact .form input[type='email'], #contact textarea{
    display : block;
    border-top : none;
    border-left : none;
    border-right : none;
    border-bottom : 2px solid black;
    width : 80%;
    background-color : transparent;
    padding : 10px 0;
}
.freq-tab{
    color : white;
    display : none;
}
#choix-frequence img{
    width : 19px;
    height : 23px;
}
#choix-frequence:hover img{
    transform : rotate(90deg);
    transition-duration : 0.1s;
}
#choix-frequence:hover .freq-tab{
    display : block;
}

#choix-frequence p{
    display : flex;
    justify-content : space-between;
}

.freq-item{
    border-bottom : 1px solid white;
}
.freq-item label{
    display : block;
    line-height : 2;
    width : 100%;
}
.btn-group{
    padding : 10px;
    display : flex;
    justify-content : space-around;
}
.btn-group label{
    opacity : 0.4;
}
.btn-group label:hover{
    opacity : 1;
}
.btn, .btn-group label{
    font-family : 'rajdhani';
    font-size : 20px;
    font-weight :400;
}
.form input[type='radio']{
    opacity : 0;
}
.btn-group label{
    cursor : pointer;
    padding : 10px;
    border : 2px solid;
    border-image : linear-gradient(69deg, red, blue) 1;
}
input[type='submit']{
    display : block;
    width: 230px;
    margin : 25px auto;
    padding : 15px 0;
    cursor : pointer;

    color : var(--white);
    font-size : 22px;  
    background : linear-gradient(80deg, var(--gradient-white),var(--gradient-red));
    box-shadow : var(--black1) 5px 5px 60px;
    opacity : 0.4;
}
input[type='submit']:hover{
    opacity : 1;
}
#citations{
    padding : 150px 20%;
}
#citations .citation-carte{
    text-align : center;
    width : 50%;
    margin : 0 auto;
}
#citations .citation-auteur{
    padding-top : 30px;
    font-size : 14px;
}
#citations .guillemet-close{
    float : right;
}
.clearfix{
    clear : both;
}

/***************** Footer ***************/
footer .text-footer{
    justify-content : center;
    font-size : 14px;
    padding : 15px 0;
    display : flex;
}
footer .text-footer *{
    margin : 0 5px;
}
footer .social-footer{
    text-align: center;
    margin-top : 50px 0;
}
footer .social-item{
    padding : 15px;
}
footer{
    padding-bottom : 150px;
}

